.contactinfo{
	color:#A9ABAD;
	line-height: 25px;

}
#toppart
{	
	padding: 15px;
	display: flex;
	justify-content: space-between; 
	min-width: 1200px;
	
}
#toppart div
{	
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 30px;
	
}
#topcolor
{
	background-color: #272E31;
}
.nav_menu
{
	padding: 0;
}
h3
{
	color: #FFFFFF;
	margin: 0;
	padding-bottom: 10px;
}
.nav_menu ul
{
	list-style-type: none;
	padding:0px;
	margin: 0;
}
.nav_menu ul li
{
	padding:2px;

}
a
{
	text-decoration: none;
	color: white;
}
hr
{
	background-color: gray;
	height: 1px;
	border: none;
}
.iconlist
{
	float:right;
	list-style: none;
	padding: 0;
	
}
.iconlist li
{
	display:inline-block;
	padding: 2px;

} 
#subfootercolor
{
	background-color: black;
}
#subfooter
{
	

	color: #EEEEEE;
	display: flex;
	justify-content: space-between; 
	min-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;


}
.copyright
{
	padding-top: 15px;
	display: inline-block;
	
}
body
{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}